@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-Bold.ttf) format("truetype");
    font-weight: bolder;
}
@font-face {
    font-family: "Roboto-LI";
    src: url(../fonts/Roboto/Roboto-LightItalic.ttf) format("truetype");
}
@font-face {
    font-family: "Origami";
    src: url(../fonts/origami/Origami.ttf) format("truetype");
}
body {
    margin: 0;
}
.Header {
    background-color: #1F2937;
}
.FlexNav {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
}

.FlexNav h2 {
    margin-right: 67%;
    color: #F9FAF8;
    font-family: 'Origami', sans-serif;
    font-size: 30px;
}
.FlexNav figcaption {
    text-align: center;
}
.FlexNav a:last-child{
    margin-right: 10%;
}
.FlexNav a{
    margin: 10px;
    color: #F9FAF8;
}
.FlexNav img {
    width: 100px;
    height: 100px;
}

.Section1 {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    padding-bottom: 20px;
}
.Section1 div {
    display: flex;
    flex: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.Section1 div h1 {
    width: 500px;
    font-size: 48px;
    color: #F9FAF8;
    font-family:'Roboto', sans-serif;
    margin-bottom: 0;
    margin-top: 0;
}
.Section1 div p {
    font-size: 18px;
    color: #E5E7EB;
}
.Section1 div a {
    width: 90px;
    height: 20px;
    padding: 5px;
    font-size: 18px;
    color: white;
    background-color: #3882F6;
    text-align: center;
    border-radius: 15%;
}
.Section1 figure{
    margin-left: 300px;
    margin-top: 0;
    align-self: center;
}
.Section1 figcaption {
    color:#F9FAF8 ;
    text-align: center;
}

.Section2 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}
.Section2 h2 {
    flex-basis: 100%;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-size: 36px;
    margin-bottom: 40px;
}
.Section2 figure{
    flex-basis: 18%;
    text-align: center;
    flex-shrink: 1;
}   
.Section2 figcaption{
    font-size: 19px;
    text-align: justify; 
}  
.Section2 img{
    height: 150px;
    width: 150px;
    border-radius: 20%;
}

.Section3 {
    display: flex;
    flex-wrap: wrap;
    background-color: #E5E7EB;
    color: #1F2937;
    justify-content: center;
    align-content: center;
    height: 600px;
}
.Section3 p {
    font-family: 'Roboto-LI',sans-serif;
    font-size: 36px;
    margin-bottom: 0;
}
.Section3 figcaption {
    color: black;
    font-size: 20px;
    text-align: right;
    font-weight: bolder;
    margin-right: 40px;
}

.Section4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 7%;
    border-radius: 3%;
    background-color:#3882F6;
}
.Section4 h2 {
    color: #F9FAF8;
    width:100%;
    text-align: center;
}
.Section4 p {
    color: #F9FAF8;
    font-size: 20px;
    margin-top: 0;
}
.Section4 a {
    width: 100px;
    border: 1px solid #F9FAF8;
    color: #F9FAF8;
    font-size: 20px;
    text-align: center;
    border-radius: 10%;
    margin-left: 20px;
}
.Footer {
    background-color:#1F2937;
    color:#F9FAF8;
    text-align: center;
    min-height: 80px;
    padding-top: 23px;
}

#ContentHeader {
    text-align: center;
    padding-right: 30px;
    padding-bottom: 40px;
    color:#F9FAF8;
    margin: 0;
}
.ContentBody {
    background-color: rgb(200, 200, 232);
    min-height: 100vh;
}
.ContentBody form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin-right: 150px;
    padding: 40px;
}
.ContentBody label {
    flex-basis: 25%;
    height: 40px;
    margin: 10px;
    text-align: end;
    font-size: 20px;
}
.ContentBody input, .ContentBody textarea {
    flex-basis: 50%;
    margin: 10px;
}
.ContentBody a {
    display: flex;
    margin-left: 70%;
    width:max-content;
    padding: 5px;
    font-size: 18px;
    color: white;
    background-color: #1F2937;
    border-radius: 15%;
}
.ContentBody #submitted {
    display: flex;
    margin-top: 0;
    font-size: 32px;
    height: 50vh;
    justify-content: center;
    align-items: center;
}
.ContentBody #subscribed {
    display: flex;
    margin-top: 0;
    font-size: 32px;
    height: 50vh;
    justify-content: center;
    align-items: center;
}
.ContentBody #AboutContent {
    margin-top: 0;
    padding: 20px;
    font-size: 24px;
    text-align: justify;
    align-items: flex-start;
}  
